[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "*"
flake8 = "*"
codecov = "*"
coverage = "*"
pytest-cov = "*"

[packages]
selenium = "*"
pillow = "*"
beautifulsoup4 = "*"
webdriver-manager = "*"
pyzbar = "*"
qrcode = "*"
python-decouple = "*"
pickle-mixin = "*"

[requires]
python_version = "3.9"
